# Host o IP del servidor de la base de datos PostgreSQL.
DB_HOST=
# Puerto donde escucha PostgreSQL.
DB_PORT=
# Nombre de la base de datos.
DB_NAME=
# Usuario con permisos sobre la base de datos.
USER=
# Contraseña del usuario de base de datos.
DB_PWD=
# Puerto donde correrá el servidor Express.
APP_PORT=
# API key para OpenAI.
OPENAI_API_KEY=